[Unit]
Description=UAV Main Application
After=network.target

[Service]
ExecStart=/usr/bin/UAV
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
