[Unit]
Description=Gateway Main Application
After=network.target

[Service]
ExecStart=/usr/bin/Gateway
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target